* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(133, 213, 250);
    
    
}

h1 {
    text-align: center;
    padding: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

p , #res {
    text-align: left;
    padding: 10px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

.fundo {
    background-color: white;
    background-size: cover;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.219);
    border-radius: 10px;
    width: 60vh;
    height: 20vh;
    margin: auto;
    padding: 10px;
}



